swagger: "2.0"
info:
  description: "Essa é a documentação da API de parceiros do Compra Fácil para gerenciamento de afiliados e busca de produtos"
  version: "1.0.0"
  title: "Swagger API Compra Fácil"
  contact:
    email: "engenharia@comprafacil.com"
  license:
    name: "Apache 2.0"
    url: "http://www.apache.org/licenses/LICENSE-2.0.html"
host: "api.comprafacil.com"
basePath: "/v1"
tags:
- name: "produtos"
  description: "Procure e gerencie produtos no Compra Fácil"
- name: "afiliados"
  description: "Gerencia afiliados no compra fácil"
security: #TODO
  - client_id: []
  - access_token: []
securityDefinitions: #TODO
  client_id:
    type: apiKey
    in: header
    name: client_id
  access_token:
    type: apiKey
    in: header
    name: access_token
schemes:
- "https"
consumes: 
  - application/json
produces:
  - application/json
paths:
  /produtos:
    get:
      tags:
      - "produtos"
      summary: "Procure todos os pordutos usando os filtros parafinar a busca"
      description: "Aqui são apresentados como parâmetros os possíveis filtros de busca e no último parâmetro os critérios de busca"
      consumes:
        - application/json
      produces:
      - "application/json"
      operationId: obterProdutos
      parameters:
      - name: "preco_minimo"
        in: "query"
        description: "Preço mínimo do produto"
        type: "number"
      - name: "preco_maximo"
        in: "query"
        description: "Preço máximo do produto"
        type: number
      - name: "desconto"
        in: "query"
        description: "Caso verdadeiro traz apenas produtos com desconto, coso falso traz todos os produtos"
        type: boolean
        default: false
      - name: "nome"
        in: "query"
        description: "Nome do produto"
        type: string
      - name: "categoria"
        in: "query"
        description: "Categoria do produto"
        type: string
      - name: "ordem"
        in: "query"
        description: "Critério de ordenação dos resultados"
        type: string
        enum: [preco_crescente, preco_decrescente, mais_vendidos, lancamentos]
        default: mais_vendidos
      security: #TODO
        - client_id: []
        - access_token: []        
      responses:
        '200':
          description: Sucesso.
          schema: #TODO
            type: array
            items:
              $ref: '#/definitions/produto'
        '401':
          description: Não autorizado.
        '403':
          description: Proibido.
        '500':
          description: Erro Interno.
  /produtos/{produtoId}:
    get:
      tags:
        - "produtos"
      summary: 'Procure detalhes de produto cadastrado' 
      description: 'Retorna detalhes de um produto cadastrado no e-commerce compra-fácil a partir de seu ID'
      consumes:
        - application/json
      produces:
        - "application/json"      
      operationId: obterProdutoPorId
      parameters:
        - name: produtoId
          in: path
          description: 'Id do produto a ser consultado'
          required: true
          type: integer
          format: int64
      security: #TODO
        - client_id: []
        - access_token: []          
      responses:
        '200':
          description: Sucesso.
        '401':
          description: Não autorizado.
        '403':
          description: Proibido.
        '500':
          description: Erro Interno.
    delete:
      tags:
        - "produtos"
      summary: "Delete um produto já cadastrado"
      description: 'Remove um produto cadastrado no e-commerce compra-fácil a partir do seu id'
      consumes:
        - application/json
      produces:
        - "application/json"      
      operationId: removerProdutoPorId
      parameters:
        - name: produtoId
          in: path
          description: 'Id do produto a ser removido'
          required: true
          type: integer
          format: int64      
      security: #TODO
        - client_id: []
        - access_token: []          
      responses:
        '200':
          description: Sucesso.
        '401':
          description: Não autorizado.
        '403':
          description: Proibido.
        '500':
          description: Erro Interno.
definitions:
  produto:
    type: object
    properties:
      id:
        type: integer
        example: 1   
      nome:
        type: string
        example: "Smartphone Samsung Galaxy S22 Ultra"
      descricaoCurta:
        type: string
        example: "Smartphone Samsung Galaxy S22 Ultra 5G SM-S908E 12GB RAM 256GB Câmera Quádrupla"
      descricao:
        type: string
        example: "Contando com o sistema operacional Android, Samsung traz seu modelo, o Smartphone Samsung Galaxy S22 Ultra 5G SM-S908E 12GB RAM 256GB Câmera Quádrupla. O aparelho apresenta 16.33cm de altura e 7.79cm de largura, com peso de 228.0g. O celular conta com uma frontal de 40.0 MP, sensores traseiros de 108.0 + 10.0 + 10.0 + 12.0 MP."
      marca:
        type: string
        example: "Samsung"
      ativo:
        type: boolean
        example: true
      categorias:
        example: ["Smartphone"]
      detalhesDoProduto: 
        example:
          preco: 6499
          quantidade: 15
          pesoBruto: 0.430
          pesoLiquido: 0.330
          altura: 9
          largura: 8
          comprimento: 7
          tipoDeUnidade: 'caixa'
          codigoDeBarras: "123456789012"
          atributos:
            [
              {tipo: "cor", nome: "Preto"},
              {tipo: "cor", nome: "Azul"}
            ]
      urlFotos: 
        example: [
          'https://fdn2.gsmarena.com/vv/pics/samsung/samsung-galaxy-s22-ultra-5g-2.jpg', 
          'https://fdn2.gsmarena.com/vv/pics/samsung/samsung-galaxy-s22-ultra-5g-6.jpg', 
          'https://fdn2.gsmarena.com/vv/pics/samsung/samsung-galaxy-s22-ultra-5g-4.jpg'
        ]
      urlVideos: 
        example: [
          'https://www.youtube.com/watch?v=2Jdpwb_0F5w'
        ]    