swagger: "2.0"
info:
  description: "Essa é a documentação da API de parceiros do Compra Fácil para gerenciamento de afiliados e busca de produtos"
  version: "1.0.0"
  title: "Swagger API Compra Fácil"
  contact:
    email: "engenharia@comprafacil.com"
  license:
    name: "Apache 2.0"
    url: "http://www.apache.org/licenses/LICENSE-2.0.html"
host: "api.comprafacil.com"
basePath: "/v1"
tags:
- name: "produtos"
  description: "Pesquise produtos no Compra Fácil"
- name: "afiliados"
  description: "Gerencia afiliados no compra fácil"
security: #TODO
  - client_id: []
  - access_token: []
securityDefinitions: #TODO
  client_id:
    type: apiKey
    in: header
    name: client_id
  access_token:
    type: apiKey
    in: header
    name: access_token
schemes:
- "https"
consumes: 
  - application/json
produces:
  - application/json
paths:
  /produtos:
    get:
      tags:
      - "produtos"
      summary: "Procure todos os pordutos usando os filtros parafinar a busca"
      description: "Aqui são apresentados como parâmetros os possíveis filtros de busca e no último parâmetro os critérios de busca"
      consumes:
        - application/json
      produces:
      - "application/json"
      parameters:
      - name: "preco_minimo"
        in: "query"
        description: "Preço mínimo do produto"
        type: "number"
      - name: "preco_maximo"
        in: "query"
        description: "Preço máximo do produto"
        type: number
      - name: "desconto"
        in: "query"
        description: "Caso verdadeiro traz apenas produtos com desconto, coso falso traz todos os produtos"
        type: boolean
        default: false
      - name: "nome"
        in: "query"
        description: "Nome do produto"
        type: string
      - name: "categoria"
        in: "query"
        description: "Categoria do produto"
        type: string
      - name: "ordem"
        in: "query"
        description: "Critério de ordenação dos resultados"
        type: string
        enum: [preco_crescente, preco_decrescente, mais_vendidos, lancamentos]
        default: mais_vendidos
      security: #TODO
        - client_id: []
        - access_token: []        
      responses:
        '200':
          description: Sucesso.
          schema: #TODO
            type: array
            items:
              $ref: '#/definitions/recurso'
        '401':
          description: Não autorizado.
        '403':
          description: Proibido.
        '500':
          description: Erro Interno.
  /produtos/{produtoId}:
    get:
      tags:
        - "produtos"
      summary: 'Procure detalhes de produto cadastrado' 
      description: 'Retorna detalhes de um produto cadastrado no e-commerce compra-fácil a partir de seu ID'
      consumes:
        - application/json
      produces:
      - "application/json"      
      operationId: obterProdutoPorID
      parameters:
        - name: produtoId
          in: path
          description: 'Id do produto a ser consultado'
          required: true
          type: integer
          format: int64
      security: #TODO
        - client_id: []
        - access_token: []          
      responses:
        '200':
          description: Sucesso.
        '401':
          description: Não autorizado.
        '403':
          description: Proibido.
        '500':
          description: Erro Interno.
definitions: #TODO
  recurso:
    type: object
    properties:
      resourceId:
        type: string
        description: Identificadro do recurso.
      resourceName:
        type: string
        description: Nome do recurso.