swagger: "2.0"
info:
  description: "Essa é a documentação da API de parceiros do Compra Fácil para gerenciamento de afiliados e busca de produtos"
  version: "1.0.0"
  title: "Swagger API Compra Fácil"
  contact:
    email: "engenharia@comprafacil.com"
  license:
    name: "Apache 2.0"
    url: "http://www.apache.org/licenses/LICENSE-2.0.html"
host: "api.comprafacil.com"
basePath: "/v1"
tags:
  - name: "produtos"
    description: "Procure e gerencie produtos no Compra Fácil"
  - name: "afiliados"
    description: "Gerencia afiliados no compra fácil"
security:
  - client_id: []
  - access_token: []
securityDefinitions:
  client_id:
    type: "apiKey"
    in: "header"
    name: "client_id"
  access_token:
    type: "apiKey"
    in: "header"
    name: "access_token"
schemes:
  - "https"
paths:
  /produtos:
    get:
      tags:
        - "produtos"
      summary: "Procure todos os pordutos usando os filtros parafinar a busca"
      description: "A busca é paginada com 30 produtos por página"
      produces:
        - "application/json"
      operationId: "obterProdutos"
      parameters:
        - name: "preco_minimo"
          in: "query"
          description: "Preço mínimo do produto"
          type: "number"
        - name: "preco_maximo"
          in: "query"
          description: "Preço máximo do produto"
          type: "number"
        - name: "desconto"
          in: "query"
          description: "Caso verdadeiro traz apenas produtos com desconto, coso falso traz todos os produtos"
          type: "boolean"
          default: false
        - name: "nome"
          in: "query"
          description: "Nome do produto"
          type: "string"
        - name: "categoria"
          in: "query"
          description: "Categoria do produto"
          type: "string"
        - name: "ordem"
          in: "query"
          description: "Critério de ordenação dos resultados"
          type: "string"
          enum:
            [
              "preco_crescente",
              "preco_decrescente",
              "mais_vendidos",
              "lancamentos",
            ]
          default: "mais_vendidos"
        - name: "page"
          in: "query"
          description: "Número da pagina da busca"
          type: "integer"
          default: 0
      responses:
        "200":
          description: "Sucesso com todos os resultados."
          schema:
            type: "array"
            items:
              $ref: "#/definitions/produto"
        "206":
          description: "Sucesso com resultado paginado."
          schema:
            type: "array"
            items:
              $ref: "#/definitions/produto"
        "401":
          description: "Não autorizado."
          schema:
            $ref: "#/definitions/erroBodyPayload"
        "429":
          description: "Muitas requisições."
          schema:
            $ref: "#/definitions/erroBodyPayload"
        "500":
          description: "Erro Interno."
          schema:
            $ref: "#/definitions/erroBodyPayload"
  /produtos/{produtoId}:
    get:
      tags:
        - "produtos"
      summary: "Veja detalhes de produto cadastrado"
      description: "Retorna detalhes de um produto cadastrado no e-commerce compra-fácil a partir de seu ID"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      operationId: "obterProdutoPorId"
      parameters:
        - name: "produtoId"
          in: "path"
          description: "Id do produto a ser consultado"
          required: true
          type: "integer"
          format: "int64"
      responses:
        "200":
          description: "Sucesso."
          schema:
            $ref: "#/definitions/produto"
        "401":
          description: "Não autorizado."
          schema:
            $ref: "#/definitions/erroBodyPayload"
        "404":
          description: "Produto não encontrado."
          schema:
            $ref: "#/definitions/erroBodyPayload"
        "500":
          description: "Erro Interno."
          schema:
            $ref: "#/definitions/erroBodyPayload"
  /afiliados:
    post:
      tags:
        - "afiliados"
      summary: "Cadastre um afiliado"
      description: "Cadastre um novo afiliado para o e-commerce compra-fácil para atuar como parceiro"
      operationId: "adicionarAfiliado"
      parameters:
        - name: "afiliado"
          in: "body"
          description: "Cadastre um novo afiliado"
          required: true
          schema:
            $ref: "#/definitions/afiliadoPayload"
      responses:
        "201":
          description: "Sucesso."
          schema:
            $ref: "#/definitions/afiliado"
        "422":
          description: "Erro na mensagem."
          schema:
            $ref: "#/definitions/erroBodyPayload"
        "500":
          description: "Erro Interno."
          schema:
            $ref: "#/definitions/erroBodyPayload"
    get:
      tags:
        - "afiliados"
      summary: "Procure todos os afiliados usando os filtros parafinar a busca"
      description: "A busca é paginada com 30 produtos por página"
      operationId: "pesquisarAfiliados"
      parameters:
        - name: "cnpjEmpresa"
          in: "query"
          description: "CNPJ da empresa que o afilhado trabalha"
          type: "string"
        - name: "nomeEmpresa"
          in: "query"
          description: "Nome da empresa que o afilhado trabalha"
          type: "string"
        - name: "categoria"
          in: "query"
          description: "Categoria dos produtos que o afiliado vende"
          type: "string"
      responses:
        "200":
          description: "Sucesso com todos os resultados."
          schema:
            type: "array"
            items:
              $ref: "#/definitions/produto"
        "206":
          description: "Sucesso com resultado paginado."
          schema:
            type: "array"
            items:
              $ref: "#/definitions/produto"
        "401":
          description: "Não autorizado."
          schema:
            $ref: "#/definitions/erroBodyPayload"
        "429":
          description: "Muitas requisições."
          schema:
            $ref: "#/definitions/erroBodyPayload"
        "500":
          description: "Erro Interno."
          schema:
            $ref: "#/definitions/erroBodyPayload"
  /afiliados/{afiliadoId}:
    get:
      tags:
        - "afiliados"
      summary: "Veja detalhes de um afilhado cadastrado"
      description: "Retorna detalhes de um afiliado cadastrado no e-commerce compra-fácil a partir de seu ID"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      operationId: "obterAfiliadoPorId"
      parameters:
        - name: "afiliadoId"
          in: "path"
          description: "Id do afiliado a ser consultado"
          required: true
          type: "integer"
          format: "int64"
      responses:
        "200":
          description: "Sucesso."
          schema:
            $ref: "#/definitions/afiliado"
        "401":
          description: "Não autorizado."
          schema:
            $ref: "#/definitions/erroBodyPayload"
        "403":
          description: "Proibido."
          schema:
            $ref: "#/definitions/erroBodyPayload"
        "500":
          description: "Erro Interno."
          schema:
            $ref: "#/definitions/erroBodyPayload"
    put:
      tags:
        - "afiliados"
      summary: "Atualize um afiliado cadastrado"
      description: "Altere um afiliado já cadastrado a partir do seu id"
      operationId: "alterarAfiliado"
      parameters:
        - name: "afiliadoId"
          in: "path"
          description: "Id do afiliado a ser alterado"
          required: true
          type: "integer"
          format: "int64"
        - name: "afiliado"
          in: "body"
          description: "Altere um afiliado"
          required: true
          schema:
            $ref: "#/definitions/afiliadoPayload"
      responses:
        "200":
          description: "Sucesso."
          schema:
            $ref: "#/definitions/afiliado"
        "201":
          description: "Criado."
          schema:
            $ref: "#/definitions/afiliado"
        "401":
          description: "Não autorizado."
          schema:
            $ref: "#/definitions/erroBodyPayload"
        "403":
          description: "Proibido."
          schema:
            $ref: "#/definitions/erroBodyPayload"
        "422":
          description: "Erro na mensagem."
          schema:
            $ref: "#/definitions/erroBodyPayload"
        "500":
          description: "Erro Interno."
          schema:
            $ref: "#/definitions/erroBodyPayload"
    patch:
      tags:
        - "afiliados"
      summary: "Atualize parcialmente um afiliado cadastrado"
      description: "Altere parcialmente um afiliado já cadastrado a partir do seu id"
      operationId: "alterarParcialmeteAfiliado"
      parameters:
        - name: "afiliadoId"
          in: "path"
          description: "Id do afiliado a ser alterado"
          required: true
          type: "integer"
          format: "int64"
        - name: "afiliado"
          in: "body"
          description: "Altere um afiliado"
          required: true
          schema:
            $ref: "#/definitions/afiliadoPayloadParcial"
      responses:
        "200":
          description: "Sucesso."
          schema:
            $ref: "#/definitions/afiliado"
        "401":
          description: "Não autorizado."
          schema:
            $ref: "#/definitions/erroBodyPayload"
        "403":
          description: "Proibido."
          schema:
            $ref: "#/definitions/erroBodyPayload"
        "500":
          description: "Erro Interno."
          schema:
            $ref: "#/definitions/erroBodyPayload"
    delete:
      tags:
        - "afiliados"
      summary: "Delete um afiliado cadastrado"
      description: "Remove um afiliado cadastrado no e-commerce compra-fácil a partir do seu id"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      operationId: "removerAfiliado"
      parameters:
        - name: "afiliadoId"
          in: "path"
          description: "Id do afiliado a ser removido"
          required: true
          type: "integer"
          format: "int64"
      responses:
        "200":
          description: "Sucesso."
        "401":
          description: "Não autorizado."
          schema:
            $ref: "#/definitions/erroBodyPayload"
        "403":
          description: "Proibido."
          schema:
            $ref: "#/definitions/erroBodyPayload"
        "500":
          description: "Erro Interno."
          schema:
            $ref: "#/definitions/erroBodyPayload"
definitions:
  produto:
    type: "object"
    properties:
      id:
        type: "integer"
        example: 1
      nome:
        type: "string"
        example: "Smartphone Samsung Galaxy S22 Ultra"
      descricaoCurta:
        type: "string"
        example: "Smartphone Samsung Galaxy S22 Ultra 5G SM-S908E 12GB RAM 256GB Câmera Quádrupla"
      descricao:
        type: "string"
        example: "Contando com o sistema operacional Android, Samsung traz seu modelo, o Smartphone Samsung Galaxy S22 Ultra 5G SM-S908E 12GB RAM 256GB Câmera Quádrupla. O aparelho apresenta 16.33cm de altura e 7.79cm de largura, com peso de 228.0g. O celular conta com uma frontal de 40.0 MP, sensores traseiros de 108.0 + 10.0 + 10.0 + 12.0 MP."
      marca:
        type: "string"
        example: "Samsung"
      ativo:
        type: "boolean"
        example: true
      categorias:
        example: ["Smartphone"]
      detalhesDoProduto:
        example:
          preco: 6499
          quantidade: 15
          pesoBruto: 0.430
          pesoLiquido: 0.330
          altura: 9
          largura: 8
          comprimento: 7
          tipoDeUnidade: "caixa"
          codigoDeBarras: "123456789012"
          atributos:
            [{ tipo: "cor", nome: "Preto" }, { tipo: "cor", nome: "Azul" }]
      urlFotos:
        example:
          [
            "https://fdn2.gsmarena.com/vv/pics/samsung/samsung-galaxy-s22-ultra-5g-2.jpg",
            "https://fdn2.gsmarena.com/vv/pics/samsung/samsung-galaxy-s22-ultra-5g-6.jpg",
            "https://fdn2.gsmarena.com/vv/pics/samsung/samsung-galaxy-s22-ultra-5g-4.jpg",
          ]
      urlVideos:
        example: ["https://www.youtube.com/watch?v=2Jdpwb_0F5w"]
  afiliado:
    type: "object"
    properties:
      id:
        type: "integer"
        example: 1
      nome:
        type: "string"
        example: "Fulano da Silva"
      email:
        type: "string"
        example: "fulano@dominio.com"
      cpf:
        type: "string"
        example: "12345678901"
      nomeEmpresa:
        type: "string"
        example: "MarketPlace afiliado do Fulano"
      cnpjEmpresa:
        type: "string"
        example: "12345678901234"
      categoria:
        type: "string"
        example: "eletrônicos"

  afiliadoPayload:
    type: "object"
    properties:
      nome:
        type: "string"
        example: "Fulano da Silva"
      email:
        type: "string"
        example: "fulano@dominio.com"
      cpf:
        type: "string"
        example: "12345678901"
      nomeEmpresa:
        type: "string"
        example: "MarketPlace afiliado do Fulano"
      cnpjEmpresa:
        type: "string"
        example: "12345678901234"
      categoria:
        type: "string"
        example: "eletrônicos"

  afiliadoPayloadParcial:
    type: "object"
    properties:
      email:
        type: "string"
        example: "fulano@dominio.com"

  erroBodyPayload:
    type: "object"
    properties:
      codigo:
        type: "string"
        example: "ERRO-12"
      mensagem:
        type: "string"
        example: "Erro de validação do CPF"
